.container
{
    background-color:#FFFFFF;
}
.navBar
{
    margin-top:3%;
    text-align: center;
    justify-content: center;
    border-bottom:1px solid gainsboro;
}
.navBar a
{
    text-decoration: none;
    color: black;
}    



.container-holder
{
    margin-top:100px;
  
}
.main-container-holder
{
    margin-top:20px;
}
.contenet-campany
{
    background-color:#EEF5F9;
    text-align: center;
    justify-content: center;
   border:2px solid #A0D9F2;
    position: relative;
    margin:10px;
}
.top-comany-btn
{
    background-color:#00B674;
    border:0px;
    height:40px;
    width:40%;
    margin-bottom:10%;
}
.job-seeker-btn
{
    border:1px solid #00B674;
    background-color:#F3FAFE;
    height:40px;
    width:40%;
    margin-bottom:10%;
}
.for-marging{
    margin-top:6%;
    
}


.footer ul
{
    margin-top:2%;
   display: flex;
   list-style: none;
   justify-content: center;
}
.footer li{
    margin-left:20px;
    font-size:15px;
    
}